<!-- This is the template for the app component called by templateUrl !-->
<div class="container small-container">
    
    <div class="row">
        <div class = "col-xs-12">
            <nav>
            <ul class="nav nav-pills pull-right">
                <li routerLinkActive="active"><a routerLink="/login" >Log In</a></li>   <!-- Add check for if user logged in using *ngIf for buttons !-->
                <li routerLinkActive="active"><a routerLink="/signup" >Sign Up</a></li>      
            </ul>
            <ul class="nav nav-pills">
                <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
               
            </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="gutter">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>