<!-- This is the template for the app component called by templateUrl !-->
<div class="container">
    <div class="jumbotron text-center">
      <h1>Welcome to PL8</h1>
      <p></p>
    </div>
    <div class="row">
        <div class = "col-xs-12">
             <nav>
                 <ul class="nav nav-pills pull-right">
                    <li><a>Log In</a></li>
                    <li><a>Sign Up</a></li>
                 </ul>
                  <ul class="nav nav-pills">
                      <li><a>Home</a></li>
                   </ul>
               </nav>
        </div>
     </div>
</div>