<div class="container">
    <div class="jumbotron text-center">
      <!--<div *ngIf="UserService.isLoggedIn">
      <h1>{{UserService.currentUser.propertyMap.Username}}'s PL8</h1>
      </div>-->
      <p></p>
    </div>
    </div>

<nav>
<li routerLinkActive="active"><a routerLink="/profile" >Profile</a></li>
<li routerLinkActive="active"><a routerLink = "/createRecipe">
<h1>Create A Recipe</h1></a></li>
</nav>
<router-outlet></router-outlet>

<div class="alert alert-info" *ngIf="isLoading">
    <h4 class="text-center"> Loading... </h4>
</div>

<div class="row">

        <h3 class="text-center">Recipes</h3>
              <section *ngIf="recipe">
                
                  <div class="row">
                      <div class="col-md-8">
                         <h2>{{ recipe.propertyMap.Name }}</h2>
                          <p class="lead">{{ recipe.propertyMap.Description }}</p>
                          <p class="lead">Ingredients:</p>
                          <ul>
                              <li *ngFor="let ing of recipe.propertyMap.Ingredients">
                                  {{ ing.amount }} {{ ing.unit}} {{ ing.name }}
                              </li>
                          </ul>
                      </div>
                  </div>
              </section>

</div>

<section *ngIf="!isLoading && !recipe">
   <h4 class="text-center"> No recipe found </h4>
</section>
