
<nav>
    <!--li routerLinkActive="active"><a routerLink="/profile" >Profile</a></li-->
    <div style="text-align: center;" routerLinkActive="active"><a routerLink = "/createRecipe"><h1>Create A Recipe</h1></a></div>
</nav>
<router-outlet></router-outlet>

<div class="alert alert-info" *ngIf="isLoading">
    <h4 class="text-center"> Loading... </h4>
</div>


<!--<div class="alert alert-info" *ngIf = "recipes.length == 0">
    No Recipes
</div>-->


<div class = "list-group" *ngIf = "!isLoading">
    <a routerLink="/recipes/{{recipes.key.id }}" class="list-group-item" *ngFor="let recipe of recipes">
    <h4 class = "list-group-item-heading">{{recipe.propertyMap.Name}}</h4>
    <p class = "list-group-item-text"> {{recipe.properyMap.Description}};
        <span *ngFor = "let ing of recipe.propertyMap.Ingredients; let isLast = last">
            {{ing.amount}}
            {{ing.unit}}
            {{ing.name}} <span *ngIf="!isLast">,</span>
            </span>
            </p>
            </a>
        </div>
