<!-- This is the template for the app component called by templateUrl !-->

      <h1>Welcome to Login</h1>
      <h5>Olive Garden Unlimited Breadsticks</h5>

      <hr>

      <div style="text-align:center;" class="container">

          <h3> Login </h3>
          <input type="text" name="Username" placeholder="Username" /> <br />
          <input type="text" name="Password" placeholder="Password" /> <br />

          <!-- Made this hyperlink go to home until we figure out how we want
               to handle the forgotten password !-->
          <h6> <a href="http://localhost:3000/#/home"> Forgot password? </a> </h6>

      </div>

