<form (ngSubmit)="onSubmit()" class="form-horizontal">
<fieldset>
    <legend>Your Pantry</legend>
    <div class="form-group" *ngFor = "let ing of recipe.propertyMap.Ingredients; let i = index">

        <div class="col-sm-2">
            <div class = "input-group">
                <input type="number" class="form-control" placeholder="4" [ngModelOptions]="{standalone: true}" [(ngModel)] ="ing.amount">
                <div class="input-group-addon">Amount</div>
            </div>
        </div>

        <div class="col-sm-4">
            <input type="text" class = "form-control" placeholder="Unlimited Breadsticks" [ngModelOptions]="{standalone: true}" [(ngModel)]="ing.name">
        </div>
    </div>
        
    <div class = "col-sm-offset-3 col-sm-9">
        <a href = "javascript:;" (click)="addIng()" class = "btn btn-success"> + Add Item</a>
    </div>
</fieldset>   
    <div class ="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <br />
            <button type="submit" class="btn btn-primary btn-lg">Save Pantry</button>
        </div>
    </div>

</form>
