<!-- This is the template for the app component called by templateUrl !-->

      <h1>This is your profile</h1>
      <div>
          <label> Nutrition Restriction</label> <input #nutritionName/>
          <button (click) = "add(nutrionName.value); nutritionName.value=''">
              Add
          </button>
     </div>
     <div class = "right">
        <ul class = "nav nav-pills pull-right">
            <h3> Your dietary restrictions </h3>
            <ul class="nutritions">
                <li *ngFor = "let nutrition of nutritions">
                    <span class="badge">{{nutrition.name}}</span>
                    </li>
                    </ul>
            </ul> </div>
            <div style="text-align:center;">
                <h4> Space </h4>
                </div>
        <ul class = "nav nav-pills">
                <h2> Maybe a picture will go here</h2>
                </ul>
     <br />
     <div>
         <!-- Button to route to personal pantry page !-->
         <li routerLinkActive="active"><a routerLink="/pantry" >Your pantry</a></li>
         <router-outlet></router-outlet>
     </div>


                