<!-- This is the template for the app component called by templateUrl !-->
    <!--img src="http://www.xspearfishing.com.au/images/cooking-icon.png" alt="profile icon" width="150" height="150"-->
    <div class="container" style="background:white url(http://www.xspearfishing.com.au/images/cooking-icon.png); background-repeat:no-repeat; background-position:right top; height: 200px; ">
      <h1>This is your Profile Page</h1>
      <h2> Your name is {{name}} </h2>
      </div>
     <div class = "right">
        <ul class = "nav nav-pills pull-right">
            <h3> Your dietary restrictions </h3>
            <ul class="preferences">
                <li *ngFor = "let pref of preferences">
                    <span class="badge">{{pref.ingredient}}</span>
                    </li>
                    </ul>
            </ul> </div>
    <div>
          <h3>Add a dietary restriction:</h3>
          <!--label> Nutrition Restriction</label--> <input #nutritionName/>
          <button (click) = "add(nutrionName.value); nutritionName.value=''">
              Add
          </button>
     </div>
            <div style="text-align:center;">
                <h4> </h4>
                </div>
        <!--ul class = "nav nav-pills">
                <!--h2> Maybe a picture will go here</h2-->
     <br />
     <div class="container" style="background: white">
         <h3>Actions:</h3>
        <div class = "col-xs-12">
            <!-- Button to route to personal pantry page !-->
            <nav>
                <ul class="nav nav-pills pull-left">
                    <li routerLinkActive="active"><a routerLink="/pantry" >View my pantry</a></li>
                    <li routerLinkActive="active"><a routerLink="/createRecipe" >Create a Recipe</a></li>
                </ul>
            </nav>
            
            <router-outlet></router-outlet>
        </div>
     </div>

<div class="list-group" >
    <a  class="list-group-item" *ngFor="let recipe of suggestions; let i = index">
        <h4 class="list-group-item-heading">{{ recipe.propertyMap.Name }} </h4>
        <p class="list-group-item-text">{{ recipe.propertyMap.Description }}:
            <span *ngFor="let ing of recipe.propertyMap.Ingredients; let isLast = last">
            {{ ing.amount}}
            {{ ing.name }}
            <span *ngIf="!isLast">,</span>
            </span>
        </p>
    </a>
</div>


                