<!-- This is the template for the app component called by templateUrl !-->

      <h1>Welcome to SignUp!</h1>
      <h5>Ice Mountain</h5>

      <hr>

      <div padding-top="5px" style="text-align:center;" class="container">

            <h3> Create Account </h3>
            <input type="text" name="Username" placeholder="Username" /> <br />
            <input type="text" name="Username" placeholder="Email" /> <br />
            <input type="text" name="Username" placeholder="Password" /> <br />
            <input type="text" name="Password" placeholder="Re-enter Password" /> <br />

            <!-- Button does not do anything yet!-->
            <button type="submit"> Sign Up </button>

      </div>
 